{% extends "base.html" %}
{% load markdownify %}

{% block content %}
    <main>
        <div class="project-detail">
            <h1> {{ project.name }} </h1>
            {{ project.description|markdownify }}
            <h2>Tasks</h2>
            <p><a href="{% url 'create_task' %}">Create a new task</a></p>
            {% for task in tasks %}
            {% empty %}
                <p>This project has no tasks</p>
            {% endfor %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.assignee }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno }}
                                {% if task.is_completed == False %}
                                    <form method="post" action="{% url 'complete_task' task.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True"/>
                                        <button>Complete</button>
                                    </form></td>
                                {% endif %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    </main>

    
{% endblock content %}







