{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="project-list">
            <h1>My Projects</h1>
            <p>
                <a href="{% url 'create_project' %}">New Project</a>
            </p>
            {% for project in projects %}
            {% empty %}
                <p>You are not assigned to any projects</p>
            {% endfor %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <td><a href="{% url 'show_project' project.pk %}">{{ project.name }}</td>
                                <td>{{ project.tasks.all | length }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}







